*{
  background-color: azure;
}
.lang{
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.btn{
  width: 100px;
  height: 5vh;
  background-color: rgb(118, 220, 127);
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}


